Insta karen.html
Insta karen_files/
Insta consultorio.html
Insta consultorio_files/
Instagram.html
Instagram_files/
Foto 1.html
Foto 1_files/
Fotonova.mhtml
foto1.mhtml
(2) Instagram.mhtml
Foto 2.html
Foto 2_files/
download*.htm
Captura de tela*.png

.vercel
.env*
